*{
    padding:0;
    margin-top:0%;
    box-sizing: border-box;
    height:auto;   
    font-family: sans-serif; 
}
body{
    background: url("../../images/login-back.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.login-main-div{
    background:rgba(7, 7, 7, 0.6);
    border-radius: 10px;
    box-shadow: 1px 1px 45px 25px rgb(77, 77, 77);
    padding: 5px;
}
.login-head{
    font-size: 1.8rem;
    font-family: sans-serif;
    color: white;
}
input[type="email"], input[type="password"], input[type="text"], input[type="number"], input[type="date"]{
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 2px;
    width: 100%;
    margin: 5px 0 10px 0;
}
input[type="date"]{
    width: 200px;
}
input[type="email"]:hover, input[type="password"]:hover, input[type="text"]:hover, input[type="number"]:hover, input[type="date"]:hover{
    box-shadow: 1px 2px 10px 3px rgb(160, 248, 179);
    border: none;
    outline: none;
}
input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus{
    outline: none;
    border: none;
}
.dob_style{
    white-space: nowrap;
}
.dob_style h6{
    color: white;
    margin: 10px;
}
.gender_style{
    white-space: nowrap;
}
.gender_style input[type="radio"], h6, label{
    display: inline;
    color: white;
    margin: 10px;
}
select{
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 2px;
    width: 70%;
    margin: 5px 0 10px 0;
}
select:hover{
    box-shadow: 1px 2px 10px 3px rgb(160, 248, 179);
    border: none;
    outline: none;
}
select:focus{
    outline: none;
    border: none;
}
.alert-danger{
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: none;
    margin: 0 20px 10px 20px;
    background-color: rgb(255, 0, 0);
    color: white;
}